<div class="modal-content"> 
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <div class="mb-3 form-group row">
          <label class="col-3 col-form-label">Employee Number:</label>
          <div class="col-3">
            <input type="text" formControlName="employeeNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeNumber.errors }" />
          </div>
          <label class="col-2 col-form-label">Department:</label>
          <div class="col-4 form-group">
            <select class="form-control" formControlName="department" [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
              <option value="" disabled selected>Select a department</option>
              <option *ngFor="let dept of departmentList" [value]="dept">{{departmentMapping[dept]}}</option>
            </select>
          </div>
      </div>
      <div class="mb-3 row">
        <div *ngIf="submitted && f.employeeNumber.errors" class="invalid-feedback col-6">
          <div *ngIf="f.employeeNumber.errors!.required">Employee Number is required</div>
        </div>
        <div *ngIf="submitted && f.department.errors" class="invalid-feedback col-6">
          <div *ngIf="f.department.errors!.required">Department is required</div>
        </div>
      </div>
      <div class="mb-3 form-group row">
        <div class="col-4">
            <label class="form-label">First Name:</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        </div>
        <div class="col-4">
          <label class="form-label">Middle Name:</label>
          <input type="text" formControlName="middleName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }" />
        </div>
        <div class="col-4">
          <label class="form-label">Last Name:</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        </div>
        
      </div>
      <div class="mb-3 row">
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback col-4">
          <div *ngIf="f.firstName.errors!.required">First Name is required</div>
        </div>
        <div *ngIf="submitted && f.middleName.errors" class="invalid-feedback col-4">
          <div *ngIf="f.middleName.errors!.required">Middle Name is required</div>
        </div>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback col-4">
          <div *ngIf="f.lastName.errors!.required">Last Name is required</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="addEmployee()">Add</button>
  </div>  
</div>

  