<ul class="list-group list-group-horizontal position-relative overflow-auto w-51">
    <li class="list-group-item d-flex">
        <a data-mdb-ripple-init role="button" (click)="view()">
            <i class="bi bi-eye-fill"></i>
        </a>
    </li>
    <li class="list-group-item d-flex">
        <a data-mdb-ripple-init role="button" (click)="update()">
            <i class="bi bi-pencil-fill"></i>
        </a>
    </li>
    <li class="list-group-item d-flex">
        <a data-mdb-ripple-init role="button" (click)="delete()">
            <i class="bi bi-trash-fill"></i>
        </a>
    </li>
</ul>
