
<div class="modal-content"> 
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="updateEmployeeForm">
        <div class="mb-3 form-group row">
            <label class="col-3 col-form-label">Employee Number:</label>
            <div class="col-3">
              <input 
                type="text" 
                formControlName="employeeNumber" 
                class="form-control" 
                placeholder={{employee.employeeNumber}} 
                value={{employee.employeeNumber}}/>
            </div>
            <label class="col-2 col-form-label">Department:</label>
            <div class="col-4 form-group">
                <select class="form-control" formControlName="department">
                    <option value="" selected>{{departmentMapping[employee.department]}}</option>
                    <option *ngFor="let dept of getDepartmentList(employee.department)" [value]="dept">{{departmentMapping[dept]}}</option>
                </select>
            </div>
        </div>
        <div class="mb-3 form-group row">
          <div class="col-4">
              <label class="form-label">First Name:</label>
              <input 
                type="text" 
                formControlName="firstName" 
                class="form-control" 
                placeholder={{employee.firstName}}
                [value]="employee.firstName" />
          </div>
          <div class="col-4">
            <label class="form-label">Middle Name:</label>
            <input 
                type="text" 
                formControlName="middleName" 
                class="form-control" 
                placeholder={{employee.middleName}}
                [value]="employee.middleName" />
          </div>
          <div class="col-4">
            <label class="form-label">Last Name:</label>
            <input 
                type="text" 
                formControlName="lastName" 
                class="form-control" 
                placeholder={{employee.lastName}}
                [value]="employee.lastName" />
          </div>
          
        </div>
        <div class="mb-3 row">
            <label class="col-3 col-form-label">Assign a Ticket:</label>
            <div class="col form-group">
              <select class="form-control" formControlName="ticket">
                <option value="" disabled selected>Select a ticket</option>
                <option *ngFor="let tix of getTicketList()" [value]="tix.ticketNumber">
                        {{tix.ticketNumber}}: {{tix.title}}
                </option>
              </select>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="col-3 btn btn-primary float-end" (click)="updateEmployee()">Update Info</button>
          </div>
        </div>
      </form>
      <form class="account-edit-form" [formGroup]="updateAccountForm">
        <div class="mb-3 form-group row">
            <label class="col-2 col-form-label">Username:</label>
            <div class="col-4">
              <input 
                type="text" 
                formControlName="username" 
                class="form-control" 
                placeholder={{account.username}}
                [value]="account.username" />
            </div>
            <label class="col-2 col-form-label">Password:</label>
            <div class="col-4">
                <input 
                type="password" 
                formControlName="password" 
                class="col-4 form-control" />
            </div>
        </div>
        <div class="mb-3 form-group row">
            <label class="col-2 col-form-label">Role:</label>
            <div class="col-4 form-group">
                <select class="form-control" formControlName="role" >
                  <option value="" selected>{{roleMapping[account.role]}}</option>
                  <option *ngFor="let role of getRoleList(account.role)" [value]="role">{{roleMapping[role]}}</option>
                </select>
            </div>
            <label class="col-2 col-form-label">Confirm Password:</label>
            <div class="col-4">
                <input
                    type="password" 
                    formControlName="confirmPass" 
                    class="form-control" 
                    [ngClass]="{ 'is-invalid': accountForm.confirmPass.value && accountForm.password.value != accountForm.confirmPass.value }" />
            </div>
          </div>
        <div *ngIf="accountForm.confirmPass.value && accountForm.password.value != accountForm.confirmPass.value" class="row alert alert-danger mt-3 mb-0 password-error">Passwords do not match</div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="col-3 btn btn-primary float-end" (click)="updateAccount()">Update Account</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">Done</button>
    </div>  
  </div>