.side-bar {
    background-color: #EFE0BD;
    padding-top: 20px !important;
    padding: 0;
    border-right: 10px;
    border-color: black;
}

.row {
    padding: 0;
    margin: 0;
}

.side-bar .list-group-item {
    color: #476930;
    font-weight: bold;
    padding-left: 50px;
    background-color: #EFE0BD;
}

.side-bar .list-group-item:hover {
    color: #86B049;
    cursor: pointer;
}
.active {
    background-color: white !important;
    border-top: 10px !important;
    border-color: black;
}

.welcome-header {
    margin-bottom: 10px;
}